@model LibraryOnlineSystem.User

@{
    ViewBag.Title = "AddedUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>AddedUser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
       User Added
    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
