@model LibraryOnlineSystem.Models.User

@{
    ViewBag.Title = "AddedUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>User has been added successfully</h2>

<div>
    <br/>
    <br/>
    <br/>
    <br/>

    
</div>
<p>
   
    @Html.ActionLink("Back to List", "UsersAdmin")
</p>
