 @model IEnumerable<LibraryOnlineSystem.Models.BookCode>

@{
    ViewBag.Title = "DisplayCopies";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
 <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>
 <h2 class="text-center" style="color:black">Book copies</h2>
 <hr />

 <table class="table table-striped" id="example">
     <thead>
 <tr>
       
     <th>
       Serial Number
     </th>
     <th>
         Availability
     </th>
     <th></th>
 </tr>
 </thead>
 <tbody>
@foreach (var item in Model) {
<tr>
  
    <td>
        @Html.DisplayFor(modelItem => item.BookSerialNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsInLibrary)
    </td>
    <td>
        @{
            if (!item.IsInLibrary)
            {
                @Html.ActionLink("Return", "ReturnBook", new {bookCodeId = item.BookCodeId, SerialNumber = item.BookSerialNumber})

            }
        }
        @*@{
            if (item.IsInLibrary == false)
            {
                @Html.ActionLink("Delete", "DeleteSerialNumber", new { SerialNumber=item.BookSerialNumber })

            }
        }*@
    </td>
   
</tr>
}
 </tbody>
</table>
