
@{
    ViewBag.Title = "PrintLabel";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Print Label</h2>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
@{
    string link="/Labels/label"+ViewBag.SerialNumber+".jpeg";
}
<img src=@link alt="no image">
