
@{
    ViewBag.Title = "PrintLabel";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Print Label</h2>

<img src="C:\Users\user\source\repos\LibraryOnlineSystem\LibraryOnlineSystem\Labels\label999" alt="no image">
