@using System.Web.UI.WebControls
@model IEnumerable<LibraryOnlineSystem.Models.PaymentLibrary>

@{
    ViewBag.Title = "ReportPayment";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <label for="beginningDate">From: </label>
    <input type="date" id="beginningDate" name="beginningDate">


    <label for="endingDate"> To:</label>
    <input type="date" id="endingDate" name="endingDate">
    <input type="submit">
}
<h2>Report on Payments</h2>
<h2><b>Sum of all  paid fees</b></h2>
@ViewBag.totalPayment£

<h2><b>Total missed payments</b></h2>
@ViewBag.missedPayments
<h2><b>Total outstanding payments</b></h2>
@ViewBag.outstandingPayments£
<h2><b>All payments</b></h2>
@ViewBag.allPayments