@model IEnumerable<LibraryOnlineSystem.Models.User>

@{
    ViewBag.Title = "ReportUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<style>
    .bs-example {
        margin: 20px;
    }

    .icon-input-btn {
        display: inline-block;
        position: relative;
    }

    .icon-input-btn input[type="submit"] {
        padding-left: 2em;
    }

    .icon-input-btn .glyphicon {
        display: inline-block;
        position: absolute;
        left: 0.65em;
        top: 30%;
    }
</style>
<script>
    $(document).ready(function () {
        $(".icon-input-btn").each(function () {
            var btnFont = $(this).find(".btn").css("font-size");
            var btnColor = $(this).find(".btn").css("color");
            $(this).find(".glyphicon").css("font-size", btnFont);
            $(this).find(".glyphicon").css("color", btnColor);
            if ($(this).find(".btn-xs").length) {
                $(this).find(".glyphicon").css("top", "24%");
            }
        });
    });
</script>


<h1 class="text-center" style="color:darkred;text-decoration:underline">Report for Users</h1>
<hr />
@using (Html.BeginForm())
{
    <label for="beginningDate">From: </label>
    <input type="date" id="beginningDate" name="beginningDate">


    <label for="endingDate"> To:</label>
    <input type="date" id="endingDate" name="endingDate">
    <input type="submit">
}
<h4><b>Total amount of Users in the system:</b> </h4>
@ViewBag.UserCount
<br />
<h4><b>Total amount of Comments by users:</b> </h4>
<br />
@ViewBag.CommentCount
<h4><b>Total amount of Banned users:</b> </h4>
<br />

@ViewBag.BlockedUsers