@model LibraryOnlineSystem.Models.Book
@if (Session["isAdmin"].ToString()==null)
{
    Layout = "~/Views/Shared/_User_Layout.cshtml";
    ViewBag.Title = "Login";
}
@if (Session["isAdmin"].ToString() == "1")

{
    ViewBag.Title = "Logged In as Admin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
else
{
    {
        ViewBag.Title = "Logged In as user";
        Layout = "~/Views/Shared/_User_Layout.cshtml";
    }
}
@*@{
    ViewBag.Title = "Home Page";
}*@

    <div class="jumbotron">
        <h3>Feel free to browse our latest books, borrow, reserve and discuss with other users!</h3>
       




        @using (Html.BeginForm())
        {
            @*@Html.AntiForgeryToken()*@

            @*<div class="form-horizontal">

                <hr />

                <div class="form-group">

                    <div class="col-md-10">
                        <label for="fname">Book title</label>
                        <input type="text" id="bookName" name="bookName">
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>*@
        }
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>New Items</h2>
        <p>
            Find out what we have added to our collection lately!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkAuthorId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bestsellers</h2>
        <p>Check out books that attract the most attention </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkAuthorId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News </h2>
        <p>Find out about our services and equipment.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkAuthorId=301867">Learn more &raquo;</a></p>
    </div>
</div>