@model LibraryOnlineSystem.Models.Booking

@{
    ViewBag.Title = "BorrowBook";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}



<div>
   
    
    <h3>Book successfully borrowed, please return by @DateTime.Today.AddDays(7).ToString("MM/dd/yyyy")</h3>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
       

        <dt>
            Date borrowed
        </dt>

        <dd>
            @Html.ValueFor(model => model.DateCreated,"{0:dd/MM/yyyy}")
        </dd>

      


    </dl>
</div>
<p>
  
</p>
