@model LibraryOnlineSystem.Models.BookReserve 
@{
    ViewBag.Title = "ReservedBook";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<h2  class="text-center" style="color:darkred;text-decoration:underline">Reserved Book</h2>
@*@{
    DateTime dateTime = new DateTime();

    dateTime = Model.BookReserves.OrderByDescending(a => a.ReservationRequestTime).FirstOrDefault().ReservationRequestTime;
    int bookReserveId = (int)Session["bookReserveId"];
}*@
<p>
    <h2 style="color:forestgreen;text-align:center">Book Successfully Reserved, It will be available on @Model.ReservationRequestTime.AddDays(7).ToString("d") your Reservation ID is @Model.BookReserveId</h2>
    
      
    
</p>
<table class="table">
    <tr>
       
       
        <th>
            Reservation requested time
        </th>
        <th></th>
    </tr>

    <tr>
         
           
        <td>
            @Html.ValueFor(model => model.ReservationRequestTime, "{0:dd/MM/yyyy}")
        </td>

    </tr>
    

</table>